/* reset */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	
	background-repeat: no-repeat; 
	background-position: top right;
	width: 90%;
	margin: 0 auto;}
#content {overflow: auto;}
#nav, #feature, #footer {
	margin:1%}
.column1, .column2, .column3 {
	width:31.3%;
	float: left;
	margin: 1%;}
.column3 {margin-right: 0%;}
li {
	display: inline;
	padding: 0.5em;}
#nav, #footer {
	
	padding: 0.5em 0;}
#feature, .article {
	height: 10em;
	margin-bottom: lem;

	}

.ui-tabs .ui-tabs-hide {    position: absolute !important;
    left: -10000px !important;    display:block !important;
} 	
	
.feature {
	font-family: 'ColaborateRegular', Arial, sans-serif;
	height: 10em;
	font-size: 10;
	border: 1px;
	margin-bottom: 1em;
	
}	
	
.nav1 {
margin: 1%;
float: right;
}

.pic {
	float: left;
	margin: 1%;
}